.categories{
  margin: 20px 0;
  background-color: #242323;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  justify-content: center;
  &__item{
    background: transparent;
    border:unset;
    color: white;
    margin: 0 10px;
    &_selected{
      color: dodgerblue;
    }
  }

}
